<h2>Add Article</h2>
<p>Create an article below.</p>
<form action="/api/articles" method="post">
  <div class="form-group">
    <label for="exampleInputTitle1">Title</label>
    <input name="title" type="text" class="form-control" id="exampleInputTitle1" placeholder="Article Title">
  </div>
  <button type="submit" class="btn btn-inverse btn-lg">Add Article</button>
</form>